[submodule "javascript/scripts/javascript/scripts/node/lkpho-Cloud-applications-with-Node.js-and-React"]
	path = javascript/scripts/javascript/scripts/node/lkpho-Cloud-applications-with-Node.js-and-React
	url = https://github.com/ibm-developer-skills-network/lkpho-Cloud-applications-with-Node.js-and-React.git
